<h3>Resources</h3>
<ul>
<li><a href="https://medium.com/@emersonthis/instagram-on-websites-the-new-landscape-62c91d733894#.l3jkmde9x">Understanding the new Instagram API</a></li>
<li><a href="https://twitter.com/emersonthis">Find me on Twitter</a></li>
</ul>
