body {
    line-height: 1.3;
}

.container {
    max-width:60em;
    margin:0 auto;
    font-family:"Helvetica Neueu", Helvetica, Arial;
}

.markdown-form {
    margin-bottom:1em;
}
.markdown-form input[type="submit"],
.markdown-form input[type="text"] {
    box-sizing: border-box;
    padding:0 .25em;
    width:100%;
    margin-bottom:1em;
    line-height: 2;
    font-size: 125%;
}

.markdown-form textarea {
    width:100%;
    height:6em;
    border: 2px solid #888;
}

.submit-wrap {
    text-align:right;
}

.markdown-form label {
    font-weight:bold;
}
.markdown-form .scopes label { font-weight:normal; }

.markdown-form input[type="submit"] {
    border-radius:0;
    padding:.5em 1em; 
    color:#FFF;
    background:#000;
    border:none;
    cursor: pointer;
    line-height:2;
    margin-left:auto;
    display:inline;
}

.markup-text {
    border: 2px solid #888;
    min-height:10em;
    width:100%;
    display:block;
    font-family:Courier, monospace;
    overflow-x:scroll;
}

.token {
    font-size:120%;
    border: 1px solid;
    padding:.5em;
    display:inline-block;
}

.scopes {
    display:flex;
    justify-content: stretch;
    margin-bottom:1em;
}
.scopes__group {
    flex-grow:1;
}
.scopes__group label{
    display:block;
}